{% extends 'concert/base.html.twig' %}
    {% block header %} {% include('concert/components/header.html.twig') with {'mastPhrase' : member.firstName ~ ' ' ~ member.name , 'subMastPhrase' : member.job } %}
    {% endblock %}

{% block content %}

    <section class="concertList">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 ">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="{{ member.picture }}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">{{ member.firstName }} {{ member.name }}</h2>
                        <h3>{{ member.job }} - {{ member.birthDate | date('d/m/y ') }}</h3>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('memberCreate',{'id': member.id}) }}"> Modifier le membre </a>
                            <a class="text-danger" href="{{ path('memberDelete',{'id': member.id}) }}"> Supprimer le membre </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="dropdown-divider"></div>
            <h3> Joue dans les groupes :  </h3>
            {% for groupe in member.bands %}
                <div class="row align-items-center">
                <div class="col-lg-6 {% if (loop.index % 2) == 0 %}order-lg-2 {% endif %}">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="{{ groupe.picture }}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 {% if (loop.index % 2) == 0 %}order-lg-1{% endif %}">
                    <div class="p-5">
                        <h2 class="display-4"><a href="{{ path('bandView',{'id' : groupe.id}) }}">{{ groupe.name }}</a></h2>
                        <h3>{{ groupe.style }}</h3>

                    </div>
                </div>
                </div>{% endfor %}
        </div>
    </section>

{% endblock %}