<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">Concert project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="dropdown">
                    <button class="btn nav-link" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Concerts
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="{{ path('home') }}">Liste des concerts</a>
                        <a class="dropdown-item" href="{{ path('concertCreate') }}">Créer un concert</a>
                    </div>
                    </div>
                {% else %}
                        <a class="nav-link" href="{{ path('home') }}">Liste des concerts</a>
                 {% endif %}
                </li>

                <li class="nav-item">

                {% if is_granted('ROLE_ADMIN') %}
                    <div class="dropdown">
                    <button class="btn nav-link" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Groupes
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <a class="dropdown-item" href="{{ path('bandList') }}">Liste des groupes</a>
                        <a class="dropdown-item" href="{{ path('bandCreate') }}">Créer un groupe</a>
                    </div>
                    </div>
                {% else %}
                        <a class="nav-link" href="{{ path('bandList') }}">Liste des groupes</a>
                {% endif %}
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('memberCreate') }}">
                            Créer un membre
                        </a>
                    </li>
                {% endif %}

                <div class="dropdown">
                    {% if is_granted('ROLE_USER') %}
                        <button class="btn nav-link" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Bienvenue {{ app.user.firstName }} {{ app.user.lastName }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                            <a class="dropdown-item" href="{{ path('user_create',{'id' : app.user.id }) }}">Modifier son compte</a>
                        </div>
                    {% else %}
                        <button class=" btn nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Connexion
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
                            <a class="dropdown-item" href="{{ path('user_create') }}">Créer son compte</a>
                        </div>
                    {% endif %}

                </div>


            </ul>
        </div>
    </div>
</nav>
